*/Intermediate
*/Build
*/Binaries
*/Saved
*/DerivedDataCache
**/xcuserdata
contents.xcworkspacedata


EscapeTheRoom/Content/StarterContent/Textures
EscapeTheRoom/Content/StarterContent/HDRI
EscapeTheRoom/Content/StarterContent/Maps
EscapeTheRoom/Content/StarterContent/Audio
EscapeTheRoom/Content/StarterContent/Materials
EscapeTheRoom/Content/StarterContent/Shapes
EscapeTheRoom/Content/StarterContent/Architecture
EscapeTheRoom/Content/StarterContent/Blueprints